@model DashboardVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body text-center">
                <a asp-action="Index" asp-controller="AssessmentRequests" asp-route-requestStatus="@AssessmentRequestStatus.Requested" style="text-decoration: none;">
                    <h1 class="card-title text-danger">@Model.NumberOfRequestsMade</h1>
                </a>
                <p class="card-text">@Html.DisplayNameFor(model => model.NumberOfRequestsMade)</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body text-center">
                <a asp-action="Index" asp-controller="AssessmentRequests" asp-route-requestStatus="@AssessmentRequestStatus.Declined" style="text-decoration: none;">
                    <h1 class="card-title text-danger">@Model.NumberOfRequestsDeclined</h1>
                </a>
                <p class="card-text">@Html.DisplayNameFor(model => model.NumberOfRequestsDeclined)</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body text-center">
                <a asp-action="Index" asp-controller="AssessmentRequests" asp-route-requestStatus="@AssessmentRequestStatus.Accepted" style="text-decoration: none;">
                    <h1 class="card-title text-primary">@Model.NumberOfPendingAssessments</h1>
                </a>
                <p class="card-text">@Html.DisplayNameFor(model => model.NumberOfPendingAssessments)</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body text-center">
                <a asp-action="Index" asp-controller="AssessmentRequests" asp-route-requestStatus="@AssessmentRequestStatus.Completed" style="text-decoration: none;">
                    <h1 class="card-title text-success">@Model.NumberOfCompletedAssessments</h1>
                </a>
                <p class="card-text">@Html.DisplayNameFor(model => model.NumberOfCompletedAssessments)</p>
            </div>
        </div>
    </div>
</div>
<br />