@using Wombat.Domain.Identity

<div class="top-row ps-3 navbar navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img class="navbar-brand-mark" src="/brand/wombat-mark.svg" alt="" width="40" height="40" />
      <span class="navbar-brand-text">Wombat</span>
    </a>
  </div>
</div>

<input type="checkbox" title="Navigation menu" aria-label="Toggle navigation menu"
       aria-expanded="@IsNavMenuExpanded" class="navbar-toggler" @bind="IsNavMenuExpanded" />

<div class="nav-scrollable" @onclick="CloseNavMenu">
  <nav class="flex-column">
    <div class="nav-item px-3">
      <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <Icon Name="home" />
        Home
      </NavLink>
    </div>

    <AuthorizeView Context="navAuth">
      <Authorized Context="navUser">
        <div class="nav-item px-3">
          <NavLink class="nav-link" href="/account/profile">
            <Icon Name="user" />
            My Account
          </NavLink>
        </div>
        <div class="nav-item px-3">
          <NavLink class="nav-link" href="/account/data-rights">
            <Icon Name="shield" />
            Data Rights
          </NavLink>
        </div>

        <AuthorizeView Roles="@($"{WombatRoles.Trainee},{WombatRoles.PendingTrainee}")" Context="traineeAuth">
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/activities/new">
              <Icon Name="calendar" />
              Activities
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/activities/mine">
              <Icon Name="file-text" />
              My Activities
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/msf/my-reports">
              <Icon Name="file-text" />
              MSF Reports
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/committee/my-reviews">
              <Icon Name="file-text" />
              Committee Reviews
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/placeholder/my-curriculum">
              <Icon Name="book" />
              My Curriculum
            </NavLink>
          </div>
        </AuthorizeView>

        <AuthorizeView Roles="@WombatRoles.Assessor" Context="assessorAuth">
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/activities/inbox">
              <Icon Name="inbox" />
              Activity Inbox
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/placeholder/recent-activities">
              <Icon Name="file-text" />
              Recent Activities
            </NavLink>
          </div>
        </AuthorizeView>

        <AuthorizeView Roles="@WombatRoles.Coordinator" Context="coordinatorAuth">
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/invitations">
              <Icon Name="users" />
              Invitations
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/data-rights">
              <Icon Name="shield" />
              Data Rights
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/msf/campaigns">
              <Icon Name="file-text" />
              MSF Campaigns
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/committee/reviews">
              <Icon Name="file-text" />
              Committee Reviews
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/placeholder/stalled-activities">
              <Icon Name="alert-triangle" />
              Stalled Activities
            </NavLink>
          </div>
        </AuthorizeView>

        <AuthorizeView Roles="@($"{WombatRoles.SpecialityAdmin},{WombatRoles.SubSpecialityAdmin},{WombatRoles.CommitteeMember}")" Context="programmeAuth">
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/placeholder/programme-trainees">
              <Icon Name="users" />
              Programme Trainees
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/committee/panels">
              <Icon Name="users" />
              Decision Panels
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/committee/reviews">
              <Icon Name="file-text" />
              Committee Reviews
            </NavLink>
          </div>
        </AuthorizeView>

        <AuthorizeView Roles="@($"{WombatRoles.SpecialityAdmin},{WombatRoles.SubSpecialityAdmin}")" Context="curriculumAuth">
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/curricula">
              <Icon Name="book" />
              Curriculum
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/placeholder/star-review-queue">
              <Icon Name="file-text" />
              STAR Review Queue
            </NavLink>
          </div>
        </AuthorizeView>

        <AuthorizeView Roles="@WombatRoles.CollegeAdmin" Context="collegeAuth">
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/epas">
              <Icon Name="file-text" />
              EPAs
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/curricula">
              <Icon Name="book" />
              Curricula
            </NavLink>
          </div>
        </AuthorizeView>

        <AuthorizeView Roles="@WombatRoles.InstitutionalAdmin" Context="institutionAuth">
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/adoptions">
              <Icon Name="book" />
              Curriculum Adoptions
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/epas">
              <Icon Name="file-text" />
              EPAs
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/curricula">
              <Icon Name="book" />
              Curricula
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/activity-types">
              <Icon Name="file-text" />
              Activity Types
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/entrustment-scales">
              <Icon Name="award" />
              Entrustment Scales
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/forms">
              <Icon Name="file-text" />
              Forms
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/trainees">
              <Icon Name="users" />
              Trainees
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/assessors">
              <Icon Name="users" />
              Assessors
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/invitations">
              <Icon Name="users" />
              Invitations
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/users">
              <Icon Name="users" />
              Users
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/sso/group-mappings">
              <Icon Name="key" />
              SSO Mappings
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/audit">
              <Icon Name="shield" />
              Audit Log
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/committee/panels">
              <Icon Name="users" />
              Decision Panels
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/committee/reviews">
              <Icon Name="file-text" />
              Committee Reviews
            </NavLink>
          </div>
        </AuthorizeView>

        <AuthorizeView Roles="@WombatRoles.Administrator" Context="adminAuth">
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/colleges">
              <Icon Name="award" />
              Colleges
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/epas">
              <Icon Name="file-text" />
              EPAs
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/curricula">
              <Icon Name="book" />
              Curricula
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/institutions">
              <Icon Name="settings" />
              Institutions
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/invitations">
              <Icon Name="users" />
              Invitations
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/users">
              <Icon Name="users" />
              Users
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/activity-types">
              <Icon Name="file-text" />
              Activity Types
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/entrustment-scales">
              <Icon Name="award" />
              Entrustment Scales
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/jobs">
              <Icon Name="clock" />
              Scheduled Jobs
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/sso/group-mappings">
              <Icon Name="key" />
              SSO Mappings
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/audit">
              <Icon Name="shield" />
              Audit Log
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/committee/panels">
              <Icon Name="users" />
              Decision Panels
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/committee/reviews">
              <Icon Name="file-text" />
              Committee Reviews
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/data-rights">
              <Icon Name="shield" />
              Data Rights
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/placeholder/system">
              <Icon Name="settings" />
              System
            </NavLink>
          </div>
        </AuthorizeView>

        <div class="nav-item px-3">
          <form action="/account/logout" method="post">
            <AntiforgeryToken />
            <button type="submit" class="nav-link nav-logout-button">
              <Icon Name="log-out" />
              Logout
            </button>
          </form>
        </div>
      </Authorized>
      <NotAuthorized Context="anonymousNav">
        <div class="nav-item px-3">
          <NavLink class="nav-link" href="/account/login">
            <Icon Name="user" />
            Sign in
          </NavLink>
        </div>
      </NotAuthorized>
    </AuthorizeView>
  </nav>
</div>

@code {
  private bool IsNavMenuExpanded { get; set; }

  private void CloseNavMenu()
  {
    if (IsNavMenuExpanded)
    {
      IsNavMenuExpanded = false;
    }
  }
}
