@model LoggedAssessmentVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LoggedAssessment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trainee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trainee.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assessor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assessor.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssessmentContext)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssessmentContext.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssessmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssessmentDate)
        </dd>
    </dl>

    @foreach (var optionCriterionResponse in Model.OptionCriterionResponses)
    {
        var Value = "";
        var Heading = "Comment:";
        @if (optionCriterionResponse.Criterion.OptionsSet.DisplayRank)
        {
            Value = optionCriterionResponse.Option.Rank + "-" + optionCriterionResponse.Option.Description;
        }
        else if (optionCriterionResponse.Option != null)
        {
            Value = optionCriterionResponse.Option.Description;
        }
        else
        {
            Heading = "Response:";
        }
        <div class="card">
            <div class="card-header">
                @optionCriterionResponse.Criterion.Description
            </div>
            <div class="card-body">
                @Value
                <dl class="row">
                    <dt class="col-sm-2">
                        @Heading
                    </dt>
                    <dd class="col-sm-10">
                        @optionCriterionResponse.Comment
                    </dd>
                </dl>
            </div>
        </div>
        <br/>
    }

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
    </dl>
    
</div>
<div>
    <a asp-action="MyAssessments" class="btn btn-dark">Back to List</a> &nbsp;
</div>
