@model IEnumerable<LoggedAssessmentVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trainee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assessor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EPA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssessmentDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Trainee.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assessor.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EPA.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssessmentDate)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="CreatePDF" asp-route-id="@item.Id"><i class="fa-regular fa-file-pdf"></i></a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

<form id="deleteForm" asp-action="Delete">
    <input type="hidden" id="optionSetId" name="Id" />
</form>


@section Scripts {
    <script>
        $(function () {

            $('.deleteBtn').click(function (e) {
                swal({
                    title: "Are you sure?",
                    text: "Are you sure you want to delete this record?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                    if (confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $("#optionSetId").val(id);
                        $("#deleteForm").submit();
                    }
                });
            });
        });
    </script>
}