@model AssessmentRequestVM

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Request awaiting approval</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trainee)
        </dt>
        <dd class = "col-sm-10">
            @Model.Trainee.Name @Model.Trainee.Surname (@Model.Trainee.Email)
        </dd>
        <dt class="col-sm-2">
            Speciality
        </dt>
        <dd class="col-sm-10">
            @Model.EPA.SubSpeciality.Speciality.Name
        </dd>
        <dt class="col-sm-2">
            Subspeciality
        </dt>
        <dd class="col-sm-10">
            @Model.EPA.SubSpeciality.Name
        </dd>
        <dt class="col-sm-2">
            EPA
        </dt>
        <dd class="col-sm-10">
            @Model.EPA.Name - @Model.EPA.Description
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssessmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssessmentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="IndexAwaitingAssessor" class="btn btn-dark">Back to List</a> &nbsp;
    <a class="btn btn-success" asp-action="AcceptRequest" asp-route-id="@Model.Id">Accept</a> &nbsp;
    <a class="btn btn-danger" asp-action="DeclineRequest" asp-route-id="@Model.Id">Decline</a> &nbsp;
</div>
