@model EPAVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>EPA</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br />

            <h4>Certification Field</h4>
            <hr />
            <div>
                <label for="specialitySelect">Speciality</label>
                <select asp-for="SpecialityId" class="form-control" id="specialitySelect" onchange="updateSubSpecialitySelect()">
                    <option value="">-- Select a speciality --</option>
                    @foreach (var option in Model.Specialities)
                    {
                        <option value="@option.Id">@option.Name</option>
                    }
                </select>
            </div>
            <br/>

            <div id="subSpecialityContainer">
                <label for="secondSelect">Subspeciality</label>
                <select asp-for="SubSpecialityId" id="secondSelect" class="form-control" >
                    <option value="">-- Select a subspeciality --</option>
                    @foreach (var option in Model.SubSpecialities)
                    {
                        <option value="@option.Id">@option.Name</option>
                    }
                </select>
                <br/>
            </div>   
            <br/>

            <h4>
                <button type="button" class="btn btn-success" id="btnAdd"><i class="fas fa-plus"></i> Add New</button>
                Assessment Forms for this EPA
            </h4>
            <hr />

            <div id="collectionContainer">
                @Html.EditorFor(model => model.Forms)
            </div>
            <br />

            <div class="form-group">
                <a asp-action="Index" class="btn btn-dark">Back to List</a> &nbsp;
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        function updateSubSpecialitySelect() {
            var mainSelect = document.getElementById("specialitySelect");
            var subSpecialityContainer = document.getElementById("subSpecialityContainer");
            var secondSelect = document.getElementById("secondSelect");

            // Clear previous options
            secondSelect.innerHTML = '';

            if (mainSelect.value) {
                // Show the second select
                subSpecialityContainer.style.display = "block";

                // Fetch sub-options via AJAX
                fetch('@Url.Action("GetSubOptions", "EPAs")?mainOptionId=' + mainSelect.value)
                    .then(response => response.json())
                    .then(data => {
                        data.forEach(function (subOption) {
                            console.log(subOption.value);
                            var newOption = document.createElement("option");
                            newOption.value = subOption.id;
                            newOption.textContent = subOption.name;
                            secondSelect.appendChild(newOption);
                        });
                    })
                    .catch(error => console.error('Error fetching sub-options:', error));
            } 
        }

        $("#btnAdd").on('click', function () {
            $.ajax({
                async: true,
                data: $('#form').serialize(),
                type: "POST",
                url: '/EPAs/AddForm',
                success: function (partialView) {
                    $('#collectionContainer').html(partialView);
                }
            });
        });

        $(document).on('click', '#btnDelete', function () {
            var form = $('#form').serialize();
            var parentDiv = $(this).closest('#inputFormRow');
            var DisplayId = parentDiv.find('#DisplayId').attr('value');
            console.log(DisplayId);
            $.ajax({
                async: true,
                data: form + '&displayId=' + DisplayId,
                type: "POST",
                url: '/EPAs/DeleteForm',
                success: function (partialView) {
                    $('#collectionContainer').html(partialView);
                }
            });
        });
        
    </script>
} 