@model EPAVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details of @Model.Name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Speciality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Speciality.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubSpeciality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubSpeciality.Name)
        </dd>

        <dt class="col-sm-2">
            EPA milestone periods
        </dt>
        <dd class="col-sm-10">
            <table class="table" id="EPAScale">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Months</th>
                        <th scope="col">EPA score</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Forms != null)
                    {
                        foreach (var item in Model.EPACurricula)
                        {
                            var Option = item.EPAScaleOption;
                            <tr>
                                <td>@item.NumberOfMonths</td>
                                <td>@Option?.Rank.ToString() - @Option?.Description
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Forms)
        </dt>
        <dd class="col-sm-10">
            <ul class="row list-unstyled">
                @if (Model.Forms != null)
                {
                    foreach (var item in Model.Forms)
                    {
                        @if(item.Form != null)
                        {
                            <li>
                                @Html.DisplayFor(modelItem => item.Form.Name)
                            </li>
                        }
                    }
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-dark">Back to List</a> &nbsp;
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
</div>
